*{
    padding:0;
    margin:0;
}
body{
    width:100%;
    height:100%;
}
li{
    list-style: none;
}
.login-index, .renew {font-size:0.24rem; color:#666; line-height:0.44rem;}
.login-index{

}
.wrapper{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(162,157,162,0.6);
}
.fold{
    display:none;
}
.aiui .checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid #dadada;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin:2px 5px 0 0;
    cursor: pointer;
}
.aiui .c-selected{
    border: 1px solid #27b0f2;
    position: relative;
}
.aiui .c-selected:after{
    content:'';
    display:block;
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    background:#fff;
}
.aiui .c-selected:after{
    background-position: -1px -1px;
}
.aiui .checkbox > input{
    margin: 0;
    visibility: hidden;
}
.pull-left{
    float: left;
}
.c-f:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
ul,li,i{
    list-style:none;
    padding:0;
    margin:0;
    font-style:normal;
}
.ai-treenav{
    width:100%;
}
.ai-treenav ul{
    margin-left:20px;
}
.ai-treenav i{
    width:14px;
    height:14px;
    background:red;
    margin:2px 7px 0 0;
    float: left;
}
.ai-treenav i.unfold, .ai-treenav .item-name-last > i{
    width:14px;
    height:14px;
    background:green;
}
.ai-treenav a{
    display:block;
    font-size:14px;
    height:22px;
    padding:3px 0;
    color:#666;
    overflow:hidden;
}
.nav-trunk{
    margin-left:20px;
}
.ai-treenav .checkbox{
    margin-top: 0;
}
.ai-treenav .filename,.ai-treenav .filename-open{
    padding-left: 25px;
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ai-treenav .filename-open{
    background-position: 0 -52px;
}
.ai-treenav li.unfold{
    min-width: 250px;
}
.ai-treenav li.unfold > ul li .filename{
    width: 60%;
}
